body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em; /*Больше в 2 раза величины текущего шрифта.*/
  text-align: center;
}
canvas {
  border: solid .2em #fff;
  height: 90vh; /*90% ширины вьюпорта.*/
}
#new-game {
  position: absolute;
  left: 7px;
}
